/* fonts */

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* shared styles */
.text-center{
text-align: center;

}
.btn{
    color: white;
    background-color:#4E47FF;
    border: none;
    border-radius: 15px;
    padding:15px 30px ;
}
.inter-faded{
   color: rgba(0, 0, 0, 0.5);
}



/* nav bar */
header{
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    width: 1900px;
    height: 698px;
}
.nav-title{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-content{
    color: #4E47FF;
    font-size: 34px;
    font-weight: 700;
}
.banner-description{
font-size: 65px;
font-weight: 600;
}

/* main */
.action-container{
    display: flex;
    width: 1140px;
    max-height: 330px;
    justify-content: center;
    gap: 250px;
    margin: 116px auto;
}
.action-title{
    font-size: 42px;
    font-weight: 700;
}
.action-description{
    color: #252432;
    font-size:24px ;
}
/* productive users */
.productive-users-container{
    background-color:rgba(78, 71, 255, 0.08);
    text-align: center;
    width: 1140px;
    height: 306px;
    padding: 50px 142px;
    margin: 0 auto;
}
.items{
    display: flex;
    justify-content: space-around;
   line-height: 0cm;
}
.productive-users-title{
    font-size: 38px;
    font-weight: bold;
}
h1{
    font-size: 80px;
    font-weight: 700;
    color:rgba(78, 71, 255, 1) ;
}
/* what-users-say */
h2{
    font-size: 42px;
    font-weight: bold;
}
.users{
    display: flex;
    gap: 30px;
    width: 1140px;
    height: 342px;
    margin: 0 auto;
    justify-content: center;
    
    
}
.user{
    text-align: left;
    background-color: rgb(230, 214, 214);
    border-radius: 15px;
    padding: 50px 20px;
}
.reviewer{
    display: flex;
    align-items: center;
    gap: 20px;
    line-height: 0cm;
}
.profile{
    border-radius: 50%;
}
.reviewer-name{
    color: #66628a;
}
.reviewer-date{
    color: #9998a5;
}

/* focus-better */
.focus-better{
    max-width: 1140px;
    max-height: 696px;
    margin:137px auto;
    
}
.btn-img{
    display: block;
}
.webflow-img{
    margin-top:20px ;
    border-radius:50px ;
}
.focus-better-description{
    color:rgba(0, 0, 0, 0.5) ;
}
/* get-in-touch */
.get-in-touch-description{
    font-size:97px;
    font-weight:bold;

}
.get-in-touch-container{
    
    width: 50%;
}
.get-in-touch{
    display: flex;
    max-width:1140px ;
    max-height: 632px;
    margin: 0 auto;
  
}

input[type="text"], input[type="email"], textarea,.get-in-touch-container button{
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    align-items: center;
    margin: 10px 0px;
    border-radius: 5px;

    
}

/* footer */
footer{
    max-width: 1920px;
    max-height:428px ;
    padding:104px 405px ;

}
.footer-title{
    color:#4E47FF ;
    font-size: 100px;
    margin-bottom: 5px;
}
.footer-description{
    color: #8987A1;
    
}
li{
     color: #8987A1;
     list-style: none;
     display: inline;
    margin-right: 20px;
}